php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value max_execution_time 30
php_value max_input_time 30
php_flag magic_quotes_gpc Off
php_value max_file_uploads 1
DirectoryIndex index.php
Options -Indexes
Options +FollowSymLinks
RewriteEngine on
RewriteBase /


RewriteRule ^engine/(.*)$ index.php?do=index [L]
RewriteRule ^conf/(.*)$ index.php?do=index [L]
RewriteRule ^data/(.*)$ index.php?do=index [L]
RewriteRule ^cron.php$ index.php?do=index [L]
RewriteRule ^cache/(.*)$ index.php?do=index [L]
RewriteRule ^tmp/(.*)$ index.php?do=index [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]